body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(228, 33%, 97%);
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
}

.app {
  max-width: 700px;
  padding: 0 20px;
}

.desktop-view {
  display: flex;
  flex-direction: row;
}

.mobile-view {
  display: none;
}

.responsive-form-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 10px 0;
}

.mobile-form-content-layout {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

img {
  height: 45px;
  width: auto;
  padding: 0 10px;
}

p {
  margin-bottom: 0;
}

b {
  color: hsl(212, 24%, 26%);
  padding: 0 5px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
  margin: 0 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.send-btn {
  font-family: "Rubik", sans-serif;
  background-color: hsl(238, 40%, 52%);
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 7px 12px;
  font-size: 10.5px;
  cursor: pointer;
}
.send-btn:hover {
  background-color: hsl(238, 32%, 59%);
}

.layout-direction-row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.layout-direction-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-style {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
}

.score-style {
  background-color: hsl(223, 19%, 93%);
  border: 1px solid hsl(223, 19%, 93%);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.score-btn {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.reply-btn-layout {
  position: absolute;
  right: 0;
}

.reply-img,
.delete-img {
  width: 10px;
  height: auto;
  padding: 0 5px;
}
.reply-img:hover {
  filter: invert(51%) sepia(19%) saturate(1106%) hue-rotate(200deg)
    brightness(86%) contrast(86%);
}
.delete-img:hover {
  filter: invert(81%) sepia(73%) saturate(5070%) hue-rotate(298deg)
    brightness(101%) contrast(86%);
}

.reply-btn,
.delete-btn {
  right: 0;
  background-color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  margin-right: 5px;
}

.reply-btn {
  color: hsl(238, 40%, 52%);
}
.reply-btn:hover {
  color: hsl(239, 24%, 62%);
}
.reply-btn:hover > .reply-img {
  filter: invert(51%) sepia(19%) saturate(1106%) hue-rotate(200deg)
    brightness(86%) contrast(86%);
}

.delete-btn {
  color: hsl(358, 79%, 66%);
}
.delete-btn:hover {
  color: hsl(358, 74%, 75%);
}
.delete-btn:hover > .delete-img {
  filter: invert(71%) sepia(75%) saturate(5070%) hue-rotate(298deg)
    brightness(101%) contrast(86%);
}

.current-user {
  color: #fff;
  background-color: hsl(238, 40%, 52%);
  padding: 1px 3px 2px 3px;
  border-radius: 2px;
  font-size: 14px;
}

.vertical-line-layout {
  min-width: 80px;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.vertical-line {
  border-left: 2px solid hsl(223, 19%, 93%);
  height: 100%;
  left: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 35vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 33vw;
  color: #444343;
}

.modal-btn {
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 7px 15px;
  margin: 20px 0 0 0;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
}

.modal-delete-btn {
  background-color: hsl(358, 79%, 66%);
}
.modal-delete-btn:hover {
  background-color: hsl(358, 74%, 74%);
}

.modal-cancel-btn {
  background-color: hsl(240, 1%, 51%);
}
.modal-cancel-btn:hover {
  background-color: hsl(220, 2%, 67%);
}

@media screen and (max-width: 750px) {
  body {
    font-size: 14px;
  }

  .app {
    max-width: 90vw;
    padding: 0 10px;
  }

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .score-style {
    padding: 3px;
    margin: 10px 3px 3px 3px;
  }

  .vertical-line-layout {
    min-width: 20px;
    display: flex;
    justify-content: left;
  }

  .content-style {
    padding: 10px;
  }
}
